@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #f3f3f3;
}

header{
    background-image: url('images/image-hero-desktop.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

img{
    height: 24px;
    width: 165px;
    margin-left: 170px;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 100px;
}

a{
    margin-right: 55px;
    font-size: 16px;
    font-family: 'Commissioner';
    color: #fff;
}

.meinho{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 38%;
    left: 33%;
    height: 100%;
    width: 35%;
}

 .first-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 15px;
    width: 100%;
    height: 23%;
}

.logo-mastercraft{
    width: 45px;
    height: 45px;
    position: absolute;
    top: 35.5%;
    left: 40%;
}

.mastercraft{
    font-family: 'Commissioner';
    font-size: 30px;
    font-weight: 700;
    margin-top: 40px;
}

.beautiful{
    font-weight: 400;
    margin-top: 15px;
    font-family: 'Commissioner';
    font-size: 16px;
    color: hsl(0, 0%, 48%);
}

.botoes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
}

.backpro{
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    width: 35%;
    height: 45px;
    font-family: 'Commissioner';
    font-weight: 700;
    border-radius: 30px;
    border: none;
}

.second-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 3%;
    padding: 5%;
}

.numeros{
    display: flex;
    flex-direction: row;
}

.dinheiros{
    display: flex;
    flex-direction: column;
    width: 33%;
    height: 75%;
    border-right: 1px solid hsl(0, 0%, 91%);
    margin-bottom: 5%;
}

.backers{
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 75%;
    padding-left: 5%;
    padding-right: 10%;
    border-right: 1px solid hsl(0, 0%, 91%);  
}

.daysleft{
    display: flex;
    flex-direction: column;
    width: 34%;
    height: 75%;
    padding-left: 5%;
    padding-right: 10%;
}

.negrito{
    font-family: 'Commissioner';
    font-size: 26px;
    font-weight: 700;
}

.sem-negrito{
    font-weight: 400;
    margin-top: 4%;
    font-family: 'Commissioner';
    font-size: 12px;
    color: hsl(0, 0%, 48%);
}

progress {
    width: 100%;
    height: 15px;
    border-radius: 7px;
  }
  progress::-webkit-progress-bar {
    background-color: rgba(244, 243, 243, 0.801);
    border-radius: 7px;
  }
  progress::-webkit-progress-value {
    background-color: #3bb4aa;
    border-radius: 7px;
  }

.third-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 10px;
    margin-top: 20px;
}

.textos{
    display: flex;
    flex-direction: column;
    padding: 35px;
}

.about{
    margin-right: 55px;
    font-size: 18px;
    font-family: 'Commissioner';
    font-weight: 700;
    margin-bottom: 25px;
}

.textinho{
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Commissioner';
    font-size: 14px;
    color: hsl(0, 0%, 48%);
}

.textinho2{
    font-weight: 400;
    font-family: 'Commissioner';
    font-size: 14px;
    color: hsl(0, 0%, 48%);
}

.quadrados{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 90%;
}

.bamboo, .black, .mahogany{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 1px solid hsl(0, 0%, 81%);
    border-radius: 10px;
    margin-bottom: 30px;
}

.linha{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title{
    margin-right: 55px;
    font-size: 18px;
    font-family: 'Commissioner';
    font-weight: 700;
}

.price{
    font-weight: 500;
    font-family: 'Commissioner';
    font-size: 14px;
    color: hsl(176, 50%, 47%);
}

.description{
    font-weight: 400;
    margin-bottom: 20px;
    font-family: 'Commissioner';
    font-size: 14px;
    color: hsl(0, 0%, 48%);
    padding: 10px;
}

.quantidade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.reward{
    background-color: hsl(176, 50%, 47%);
    color: #fff;
    width: 30%;
    height: 45px;
    font-family: 'Commissioner';
    font-weight: 700;
    border-radius: 30px;
    border: none;   
}